*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(camera.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.navbar{width: 70%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   border-radius: 30px;
    padding : 10px;
    box-shadow: 10px 5px 5px red;
   
    
}
.logo img{
    width: 40%;
    height: 40%;
    text-align: center;
    border-radius: 60%;
}
.logo{
    display: flex;
    gap: 10px;
    align-items:center ;
}
.logo h1{
    color: cornsilk;
}
/* menu section */
.menu{
    display: flex;
    gap: 40px;
}
.menu a{text-decoration: none;
    font-weight: bold;
    color: rgb(5, 5, 4); 
background-color: rgb(248, 238, 244);
padding: 5px;
border-radius: 10%;
}
.menu a:hover{
    text-decoration: underline;
    background-color: black;
    color: skyblue;
}
    /* .search-icon */
 .search-icon{
        padding: 5px;
        text-align: center;
    }

.menu input{
    outline: none;
    border: 0;
    background: transparent;
    color: blue;
    


}
/* about-section */
.about{display:flex ;
    flex-direction: column;
   align-items: center;
   
   width: 70%;
   margin: 5px auto;
   margin-top: 50px;
}
.about img{align-self: center;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    text-align: center;
    border: 2px solid white;
}
.about h2{font-weight: 5000;
    font-size: 2rem;
    color: cyan;
}
.about h4{background-color: azure;
    color: darkorchid;
}
.about p{
    color: darkturquoise;
    text-align: center;
}
.about,h4,h2,p{
    padding: 10px;
}
.photos{
    width: 70%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    box-shadow: 10px 10px 10px 5px red;
}
.photos img{
    width: 300px;
    height: 300px;
}
.pic8{
    grid-column-start: 2;
    grid-column-end: 4;
  
}
.pic8 img{
    width: 620px;
}
/* demo pics */
.heading{margin-top: 30px;
    font-size: 80px;
    text-align: center;
    color: cyan;
    background-color: rgb(5, 5, 4);
}
.demo-pics img{padding: 20px;
    width: 400px;
    height: 400px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 60px;
}
.demo-pics{background-color: greenyellow;
    margin-top: 50px;
    display: grid;
   
    grid-template-columns: auto auto auto;
}
/* footer */
.pre-footer{width: 60%;
    margin: 10px auto;
   
    border: 2px solid black;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    
}
.footer{border-top-left-radius: 80px;
    background-color: cadetblue;
}
.footer1{padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer1 img{
    width: 30px;
    height: 30px;
}
.box2{
    display: flex;
    gap: 20px;
}
.footer2{
    display: flex;
    justify-content:space-between ;
    padding: 40px;
    align-items: center;
    text-align: center;
}
ul{
    list-style: none;
}
button{
    color: aliceblue;
    background-color:black ;
}